services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: nest-node
    ports:
      - "3000:3000"
    volumes:
      - ./api:/app
    environment:
      - NODE_ENV=dev
    depends_on:
      - mongo

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: angular-node
    ports:
      - "4200:4200"
    volumes:
      - ./web:/app
    environment:
      - NODE_ENV=dev
    depends_on:
      - api

  mongo:
    image: mongo:8
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  api_node_modules:
